<h1>KelloggCoin Ledger</h1>

<! -- STEP 1  -->
<h1> All Transactions </h1>
<ol>
  <% transactions = Transaction.all.includes(:from_user, :to_user) %>

  <% transactions.each do |transaction| %>
    <% if transaction.from_user.present? %>
      <li><%= "#{transaction.amount} KC from #{transaction.from_user.name} to #{transaction.to_user.name}" %></li>
    <% else %>
      <li><%= "Initial coin offering: #{transaction.amount} to #{transaction.to_user.name}" %></li>
    <% end %>
  <% end %>
</ol>

<! -- STEP 2  -->
<h1> Closing Balances </h1>
<% balances = Hash.new(0) %>

<% transactions = Transaction.all.includes(:from_user, :to_user) %>

<% transactions.each do |transaction| %>
  <% if transaction.from_user %>
    <% balances[transaction.from_user.name] -= transaction.amount %>
  <% end %>
  <% balances[transaction.to_user.name] += transaction.amount %>
<% end %>

<ul>
  <% balances.each do |name, balance| %>
    <li>Balance for <%= name %>: <%= balance %> KC</li>
  <% end %>
</ul>