<h1>KelloggCoin Ledger</h1>

<! -- STEP 1  -->
<h1> All Transactions </h1>
<% transactions = Transaction.all %>

<ol>
  <% for transaction in transactions %>
    <% if transaction.from_user_id != nil %>
      <li><%= "#{transaction.amount} KC from #{User.find(transaction.from_user_id).name} to #{User.find(transaction.to_user_id).name}" %></li>
    <% else %>
      <li><%= "Initial coin offering: #{transaction.amount} to #{User.find(transaction.to_user_id).name}" %></li>
    <% end %>
  <% end %>
</ol>

<! -- STEP 2  -->
<h1>Closing Balance</h1>

<% balances = Hash.new(0) %>
<% transactions = Transaction.all %>

<% for transaction in transactions %>
  <% if transaction.from_user_id != nil %>
    <% from_user = User.find(transaction.from_user_id) %>
    <% balances[from_user.name] -= transaction.amount %>
  <% end %>

  <% to_user = User.find(transaction.to_user_id) %>
  <% balances[to_user.name] += transaction.amount %>
<% end %>

<ul>
  <% for pair in balances %>
    <% name = pair[0] %>
    <% balance = pair[1] %>
    <li>Balance for <%= name %>: <%= balance %> KC</li>
  <% end %>
</ul>